@import '__settings/init';

.cta {
	background: radial-gradient(50% 613.78% at 0% 0%, $color-bg-brown 0%, $color-bg-extradark 100%);

	&.style_1 {
		padding: rem(75) 0;

		@include media('>=md') {
			padding: rem(100) 0;
		}

		.cta__title {
			margin-bottom: rem(10);
			color: $color-bg-light;

			font-weight: 700;
			text-transform: uppercase;

			@include font(28, 34, .16);
			@include media('>=md') {
				@include font(42, 50);
			}

			.color {
				background-image: linear-gradient(90deg, $color-bg-light, $color-bg-rose);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	&.style_2 {
		padding: rem(100) 0;

		@include media('>=md') {
			padding: rem(150) 0;
		}


		.cta__title {
			font-weight: 600;
			color: $color-2;
			text-transform: uppercase;

			@include font(38, 46);
			@include media('>=md') {
				@include font(54, 65);
			}
		}
	}

	&__bg {
		&.has-opacity {
			img {
				opacity: .4;
			}
		}
	}

	.container {
		position: relative;
		z-index: 1;
	}

	&__content {
		width: auto;
		max-width: rem(580);
	}

	&__description {
		font-weight: 400;
		color: $color-white;

		@include font(16px 23px);
	}

	&__link-wrap {
		margin-top: rem(50);
	}
}