@import '__settings/init';

.arguments {
	padding: rem(75) 0;

	background: radial-gradient(50% 139.53% at 0% 100%, #0B0302 0%, $color-bg-dark 100%);

	@include media('>=md') {
		&.style_1 {
			padding: rem(120) 0;
		}

		&.style_2 {
			padding: rem(100) 0;
		}
	}

	&__title {
		margin-bottom: rem(20);
		color: $color-bg-light;

		font-weight: 700;
		text-transform: uppercase;

		@include font(28, 34);
		@include media('>=md') {
			@include font(42, 50);
		}

		.color {
			background: linear-gradient(90deg, $color-bg-light 0%, $color-bg-rose 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__description {
		margin-bottom: 50px;

		font-weight: 400;
		color: $color-2;
	}

	&__link {
		display: inline-block;

		padding-right: rem(5);
		padding-left: 10px;

		font-weight: 600;
		color: $color-1;
		text-transform: uppercase;

		border-left: 2px solid transparent;

		transition: padding $transition, border-color $transition $animations-speed/1.5;

		@include font(14, 32, .8);

		&:hover,
		&:focus {
			padding-right: 0;
			padding-left: rem(15);

			color: $color-1;
		}

		&.is-in-viewport {
			border-color: $color-1;
		}

		&-wrap {
			margin-bottom: 20px;
		}
	}

	&__content {
		margin-bottom: rem(50);
		position: sticky;
		top: rem(150);

		@include media('>=md') {
			margin-bottom: rem(30);
		}
	}
}

.argument__box {
	text-align: center;

	&-icon {
		display: inline-block;

		width: 48px;

		@include media('>=md') {
			width: 96px;
		}
	}

	&-title {
		margin-bottom: 15px;

		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		text-align: center;
		color: $color-2;

		@include media('>=md') {
			font-size: 30px;
			line-height: 36px;
		}
	}

	&-description {
		font-size: 16px;
		font-weight: 400;
		line-height: 23px;
		color: $color-2;

		opacity: .5;
	}
}