@import '__settings/init';

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1.2em;

	font-family: $font-base;
	font-weight: 700;
	color: $text-color-base;
	&:only-child {
		margin: 0;
	}
}

h1 {
	margin-bottom: rem(12);

	letter-spacing: rem(2.44);

	@include font(40, 48);
	@include media('>=md') {
		@include font(49, 58.59)
	}
}

h2 {
	margin-bottom: rem(14);

	letter-spacing: rem(1.95);

	@include font(35, 42);
	@include media('>=md') {
		@include font(39, 46.87);
	}
}

h3 {
	margin-bottom: rem(19);

	letter-spacing: rem(1.56);

	@include font( 31, 37.5);
}

h4 {
	margin-bottom: rem(22);

	letter-spacing: rem(1.25);

	@include font(25,30);
}

h5 {
	margin-bottom: rem(24);

	letter-spacing: rem(1);

	@include font(20, 24);
}

h6 {
	margin-bottom: rem(23);

	letter-spacing: rem(.8);

	@include font(16, 19.2);
}
