.btn-menu {
	display: block;

	width: rem(42);
	height: rem(42);

	position: relative;

	border: 0;
	background: transparent;
	box-shadow: none;
	cursor: pointer;

	transition: .5s ease-in-out;

	@include media('>=md') {
		width: rem(52);
		height: rem(52);
	}

	.dom-content-loaded & {
		transform: translate(0);

		opacity: 1;
		visibility: visible;
	}

	span {
		display: block;

		width: 100%;

		position: absolute;
		left: 0;
		transform: rotate(0deg);

		background: $color-bg-rose;
		opacity: 1;

		.style_3 & {
			background: $text-color-base;
		}

		transition: .25s ease-in-out;

		&:nth-child(1) {
			height: 3px;

			top: rem(10);
			transform-origin: left center;
		}

		&:nth-child(2) {
			height: 2px;

			top: rem(20);
			transform-origin: left center;
		}

		&:nth-child(3) {
			height: 1px;

			top: rem(31);
			transform-origin: left center;
		}
	}

	&.open {
		span {
			background: $color-bg-brown;
		}

		span:nth-child(1) {
			height: 2px;

			top: rem(5);
			left: rem(4);
			transform: rotate(45deg);

			@include media('>=md') {
				top: rem(8);
			}
		}

		span:nth-child(2) {
			width: 0;

			opacity: 0;
		}

		span:nth-child(3) {
			height: 2px;

			top: rem(34);
			left: rem(4);
			transform: rotate(-45deg);

			@include media('>=md') {
				top: rem(44);
			}
		}
	}

	&.btn-menu--sticky {
		span {
			background: $color-bg-brown;
		}
	}
}