@keyframes show-header {
	from {
		transform: translateY(-100px);
	}

	to {
		transform: translateY(0);
	}
}

.main-header {
	width: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: 9999;

	.main-logo__flex-wrap {
		display: flex;
		align-items: center;
	}

	.main-logo {
		display: inline-block;
		max-width: 120px;

		@include media('>=md') {
			max-width: 300px;
		}
	}

	&.style_1 {
		.main-logo {
			max-width: 100px;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;

			@include media('>=md') {
				max-width: 150px;
			}
		}
	}

	.main-nav__wrap {
		display: none;

		@include media('>=lg') {
			display: flex;
		}

	}

	.main-nav__wrap,
	.main-nav__wrap--mob {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		height: 0;

	}

	&__btn {
		margin-top: rem(50);

		@include media('>=lg') {
			margin: 0 rem(50);
		}
	}

	&__lang {
		@include media('>=lg') {}
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: rem(80);
		padding: rem(10) 0;

		@include media('>=lg') {
			min-height: rem(75);
			padding: rem(5) 0;
		}

		&.sticky {
			position: fixed;
			top: 0;
			padding-top: rem(10);
			background: linear-gradient(180deg, $color-bg-rose 0%, $color-bg-light 99.99%, $color-white 100%);

			animation-name: show-header;
			animation-duration: $default-transition-speed;

			-webkit-box-shadow: 0px rem(1) rem(10) rem(-6) rgba($color-bg-brown, .5);
			-moz-box-shadow: 0px rem(1) rem(10) rem(-6) rgba($color-bg-brown, .5);
			box-shadow: 0px rem(1) rem(10) rem(-6) rgba($color-bg-brown, .5);

			@include media('>=lg') {
				padding-top: 5px;
			}

			.admin-bar & {
				@include media('>=lg') {
					top: rem(32);
				}
			}

			.main-logo {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;

				svg {
					fill: #B15533 !important;

					path {
						fill: #B15533 !important;
					}
				}
			}


			.main-nav__wrap {
				@include media('>=lg') {
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
					height: auto;
				}
			}

			.wpml-ls-item {
				a {
					color: #b15533;
				}
			}

		}


		&.open {
			.main-logo {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
				transition: opacity 0.25s ease-in-out $default-transition-speed*0.66;

				svg {
					fill: #B15533 !important;

					path {
						fill: #B15533 !important;
					}
				}
			}

			.main-nav__wrap {
				@include media('>=lg') {
					height: auto;
					display: flex;
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
					transition: opacity 0.25s ease-in-out $default-transition-speed*0.66;
				}
			}

			.main-nav__wrap--mob {
				height: auto;
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
				transition: opacity 0.25s ease-in-out $default-transition-speed*0.66;

				@include media('>=lg') {
					display: none;
				}
			}

			.wpml-ls-item {
				a {
					color: #b15533;
				}
			}
		}

	}


	&__nav {
		height: 0;
		width: 0;
		overflow: hidden;
		border-bottom: rem(1) solid $text-color-base;
		z-index: 9;

		&__bg {
			position: absolute;
			opacity: 0;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100vh;
			background: linear-gradient(278.37deg, #F6D3C4 12.83%, #F1F0F1 87.17%);
			overflow-x: hidden;
			overflow-y: scroll;
			z-index: -1;
			transform: translateX(100%);
			transition: all ease-in-out $default-transition-speed;
		}


		&.open {
			height: 100vh;

			.main-nav {
				height: 100vh;
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
				transition: opacity $transition $default-transition-speed*0.66;
			}

		}




	}
}


.main-nav {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	height: 0;
	padding: rem(25) 0;
	z-index: 9;
	text-transform: uppercase;

	@include font(18, 20);

	@include media('>=lg') {
		padding: rem(84) 0;
	}


	&__right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		@include media('>=lg') {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__btn {
		text-align: right;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	ul {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.menu {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

}



.menu-item {
	display: block;

	padding: rem(10) 0;

	@include media('>=md') {
		display: inline-block;
	}

	a {
		font-weight: 400;
		@include font(34, 40);
		@include link();
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: $color-bg-brown;
	}
}


.wpml-ls-legacy-list-horizontal ul {
	flex-direction: row;
}

.wpml-ls-item,
.wpml-ls-current-language {

	a {
		padding: 0;
		color: #F6D3C4;
		@include link();
		@include font(16, 19);
	}

	&:not(:first-child) {
		margin-left: rem(20);
	}
}

.wpml-ls-statics-shortcode_actions {
	.wpml-ls-current-language {

		a {
			color: #F6D3C4;
		}
	}
}

.wpml-ls-legacy-list-horizontal {
	height: 45px;

	@include media('>=md') {
		height: 60px;
	}
}