@import '__settings/init';

.text-img {
	padding: 50px 0;
	overflow: hidden;

	@include media('>=md') {
		padding: 100px 0;
	}

	.rellax {
		@include media('<=md') {
			transform: translate3d(0,0,0) !important;
		}
	}

	&.content-left {
		background: linear-gradient(75.02deg, $color-bg-rose 0%, $color-bg-light 50%);
	}

	&.content-right {
		background: linear-gradient(255.02deg, $color-bg-rose 0%, $color-bg-light 50%);
	}

	.text-img__main-photo {
		position: relative;
		z-index: 9;
	}


	.text-img__secondary-photo {
		display: none;

		position: relative;
		z-index: 1;

		@include media('>=md') {
			display: inline-block;
		}
	}

	&.content-right {
		.text-img__main-photo {
			@include media('>=md') {
				float: right;
			}
		}

		.text-img__secondary-photo {
			float: left;
			margin-top: rem(-230);
			margin-left: rem(-130);
		}
		.text-img__decoration {
			transform: scaleX(-1);
		}
	}

	&.content-left {
		.text-img__main-photo {
			@include media('>=md') {
				float: left;
			}
		}

		.text-img__secondary-photo {
			float: right;
			margin-top: rem(-230);
			margin-right: rem(-130);
		}

		.text-img__box {
			@include media('<md') {
				margin-top: rem(40);
			}
		}
	}

	&__decoration {
		display: flex;
		align-items: center;

		position: absolute;
		z-index: 10;
		top: 0;
		bottom: 0;
		margin: auto;

		color: $color-cinnabar;
	}

	&.style_2 {
		.text-img__box {
			display: flex;
			align-items: center;

			.text-img__main-photo {
				width: 100%;

				picture,
				img {
					width: 100%;
				}
			}

			@include media('>=xxl') {
				margin-right: calc((100vw - 1180px) / 2 * -1);
			}

			@include media('>=1920px') {
				margin-right: rem(-370);
			}
		}
		&.content-right {
			.text-img__box {

				@include media('>=xxl') {
					margin-right: 0;
					margin-left: calc((100vw - 1180px) / 2 * -1);
				}

				@include media('>=1920px') {
					margin-left: rem(-370);
				}
			}
		}
	}
}

.text-img__box {
	position: relative;

	@include media('>=md') {
		min-height: calc(100vh - 200px);
	}
}

.text-img__content {
	margin: 0 auto;

	@include media('>=md') {
		max-width: 335px;
	}
}

.text-img__title {
	margin-bottom: 20px;

	font-size: 42px;
	font-weight: 700;
	line-height: 50px;
	color: $text-color-base;
	letter-spacing: .01em;
	text-transform: uppercase;

	@include media('>=md') {
		font-size: 42px;
		line-height: 50px;
	}
}

.text-img__description {
	margin-bottom: 50px;
}