@import '__settings/init';

.map {
    position: relative;
    background: linear-gradient(75.02deg, $color-bg-rose 0%, $color-bg-light 50%);

    &__container {
        width: 100%;
        height: 700px;

        img {
            max-width: inherit !important;
        }

        .gm-style-iw-c {
            max-width: 332px !important;
            height: auto;
            background-color: $color-white;
            border: 0;
            border-radius: 0;


            .map__modal-title {
                display: block;
                @include font(30, 36);
                margin-top: 0;
                margin-bottom: rem(20);
                font-weight: 600;
                color: #2F140D;
                text-decoration: none !important;
            }



            .map__modal-description {
                display: block;
                @include font(16, 23);
                margin-bottom: rem(20);

                &:empty {
                    margin-bottom: 0;
                    margin-top: rem(-20);
                }

                a {
                    color: currentColor;
                    @include link-underline;
                    text-decoration: none !important;
                }

                p {
                    margin-bottom: rem(10);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

        }

        .gm-ui-hover-effect {
            top: 0 !important;
            right: 0 !important;
            width: rem(40) !important;
            height: rem(40) !important;

            >span {
                width: rem(24) !important;
                height: rem(24) !important;
                margin: rem(8) !important;
            }
        }

        .gm-style-iw-d {
            padding: rem(25) rem(30);
        }
    }

    &__modal-title,
    &__modal-description,
    &__modal-link {
        display: none;
    }

    &__info {
        padding: rem(30) rem(15);
        background-color: $color-bg-dark;

        @include media('>=lg') {
            display: inline-block;
            width: rem(335);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10%;
            padding: rem(30) rem(40);
            z-index: 9;
        }

    }

    &__title {
        color: $text-light;
        @include font(30, 36);
    }

    &__description {
        color: $text-light;
        @include font(16, 23);
    }

    &__link {
        display: inline-block;

        padding-right: rem(5);
        padding-left: 10px;

        font-weight: 600;
        color: $color-1;
        text-transform: uppercase;

        border-left: 2px solid transparent;

        transition: padding $transition, border-color $transition $animations-speed/1.5;

        @include font(14, 32, .8);

        &:hover,
        &:focus {
            padding-right: 0;
            padding-left: rem(15);

            color: $color-1;
        }

        &.is-in-viewport {
            border-color: $color-1;
        }

        &-wrap {
            margin-bottom: 20px;
        }
    }
}