@import '__settings/init';

.testimonials {
    padding: 104px 0;
    background: linear-gradient(180deg, $color-bg-interface-tan 0%, $color-bg-rose 189.57%);

    @include media('>=md') {
        padding: 130px 0;
    }
}

.testimonials__item {
    display: inline-block;
    max-width: 280px;

    @include media('>=md') {
        max-width: 683px;
    }
}

.testimonials__content {
    position: relative;
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: $text-color-base;

    @include media('>=md') {
        font-size: 30px;
        line-height: 36px;
    }

    &::before {
        content: url('/svg/quote_large.svg');
        position: absolute;
        top: -20px;
        left: -30px;
        right: auto;
    }

    &::after {
        content: url('/svg/quote.svg');
        position: absolute;
        bottom: -20px;
        right: -30px;
        left: auto;
    }
}

.testimonials__author {

    &::before {
        display: inline-block;
        content: '';
        width: 30px;
        height: 3px;
        background: $color-bg-brown;
    }
}

.testimonials__name {
    margin: 30px auto 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: $text-color-base;
}

.testimonials__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: $text-color-base;
}

.testimonials__slider {

    .swiper-button-next,
    .swiper-button-prev {
        top: 50%;
        width: 32px;
        height: 17px;
        color: $color-bg-rose;

        &::after {
            font-size: 18px;
        }
    }
}

.custom-slide {
    text-align: center;
}