@import '__settings/init';

.faq {
    position: relative;
    padding: rem(75) 0;
    background: linear-gradient(108.09deg, $color-bg-light 37.69%, $color-bg-rose 100%);

    @include media('>=lg') {
        padding: 100px 0;
        min-height: 630px;
    }

    .container{
        position: relative;
        z-index: 999;
    }


    &__button {
        width: 100%;
        padding: rem(30) rem(30) rem(20) 0;
        background: none;
        border: none;
        outline: none;
        @include font(16, 24);
        font-weight: 700;
        text-align: left;
        color: $text-color-base;
        cursor: pointer;

        &:after {
            content: url('/svg/acordion-arrow.svg');
            font-family: "fontawesome";
            font-size: 14px;
            position: absolute;
            right: 0;
        }

        &.is-open {
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    &__answer {
        max-height: 0;
        overflow: hidden;
        border-bottom: 1px solid rgba(181, 89, 60, 0.1);
        transition: max-height 0.2s ease-in-out;
    }

    &__answer-content {
        padding-bottom: rem(30);

        @include font(16, 24);
        font-weight: 400;
        color: $text-color-base;
    }

    &__title {
        max-width: rem(360);
        @include font(28, 34, 0.16);
        font-weight: 700;
        text-transform: uppercase;
        color: $color-bg-dark;

        @include media('>=lg') {
            @include font(42, 50);
        }

        .color {
            background: linear-gradient(270deg, $color-bg-dark 0%, $color-bg-overcast-brick 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    &__decoration{
        display: inline-block;
        top: rem(400);
        left: 50%;
        position: absolute;
        color: $color-bg-raucous-orange;
        z-index: 0;

        @include media('>=lg') {
            top:auto;
            bottom: 0;
        }
    }
}