@import '__settings/init';

.accordion {
	&__header {
		text-align: center;
		margin:0 0 rem(48);
	}
	&__container {
		max-width: 970px;
	}
}

.single-accordion {
	&__row {
		padding: 0;

		margin: 0;
	}
	&__icon {
		width: 16px;
		height: 2px;

		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);

		background-color: $color-black;
		&:after {
			content: '';

			display: block;

			width: 16px;
			height: 2px;

			position: absolute;
			top: 0;
			left: 0;
			transform: rotate(-90deg);

			background-color: $color-4;

			transition: transform .2s ease;
		}
	}
	&__item {
		list-style: none;
		border-top: 1px solid $color-bg-light;
		&:last-of-type {
			border-bottom: 1px solid $color-bg-light;
		}
		&.active {
			.single-accordion__icon {
				&:after {
					transform: rotate(0);
				}
			}
			.single-accordion__content {
				display:block;
			}
		}
	}
	&__trigger {
		display: block;

		padding: rem(30) 0;

		position: relative;

		border: 0;
		background: transparent;
		box-shadow: none;
		cursor: pointer;
		width: 100%;
		text-align:left;
	}
	&__content {
		display: none;

		padding-bottom: rem(30);
	}
}