@import '__settings/init';

.embed {
    position: relative;
    min-height: 630px;
    overflow: hidden;
    padding: rem(75) 0;
    background: linear-gradient(223.08deg, $color-bg-rose 0%, $color-bg-light 75.84%);

    @include media('>=lg') {
        padding: 100px 0;
    }

	&:first-child {
		padding-top: rem(180);

		@include media('>=lg') {
			padding-top: rem(383);
		}
	}

    .container {
        position: relative;
        z-index: 999;
    }

    &__title {
		max-width: rem(570);

		margin-top: 0;
		margin-bottom: rem(30);

		font-weight: 400;
		text-transform: uppercase;
		@include font((
			null: 28,
			lg: 42,
			xl: 64
		), 67, 1);
		color: $color-rajah;

		.color {
			background: linear-gradient(270deg, $color-rajah 0%, $color-brown-rust 51.04%, $text-color-base 100%);
			background-clip: text;

			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
    }

    &__description {
        margin-bottom: rem(50px);
        @include font(16, 23);
        font-weight: 400;
       color: $text-color-brown;

        @include media('>=lg') {
            max-width: rem(580);
        }
    }

    &__iframe {
        margin-top: rem(50);
    }

    &__decoration {
		display: inline-block;

		position: absolute;
		z-index: -1;
		top: rem(180);
		right: rem(35);

		color: $color-bg-raucous-orange;
    }
}