// VARIABLES

// Container width variables
$container-mobile: 720px;
$container-lg: 960px;
$container-xl: 1080px;
$container-xxl: 1210px;
$container-padding: 15; //px

// Block Spacings
$spacing-mobile: 50;
$spacing: 70;

$margin-mobile: 50;
$margin: 70;

// Media Spacing
$media-margin: 20; //px

// Transitions
$default-transition-speed: .25s;
$default-transition-timing-function: ease-in-out;
$transition: $default-transition-speed $default-transition-timing-function;
$animations-speed: .75s;


// Outline
$outline: 2px solid blue;


//fonts
$font-base: 'Lato', sans-serif;
$font-size-base: 16;
$line-height-base: 28;

$font-size-mobile: 14;
$line-height-mobile: 26;


/*----------------------------
    THEME COLORS
-----------------------------*/

// Base Colors
$color-black: #000000;
$color-white: #ffffff;
$color-cinnabar: #E04C26;
$color-rajah: #F8B275;
$color-brown-rust: #B5593C;

// Text Colors
$text-color-base: #2F140D;
$text-color-brown: #B15533;
$text-light: #F1F0F1;
$link-color: #B15533;
$link-hover-color: #B15533;

// Optional Colors
$color-1: #F6D3C4;
$color-2: #F1F0F1;
$color-3: #fcb516;
$color-4: #00a598;

// General Colors
$primary: #014384;
$secondary: #f8ae6e;


// Background Colors
$color-bg-extradark: #1F0B07;
$color-bg-dark: #2F140D;
$color-bg-overbaked: #622e20;
$color-bg-brown: #B15533;
$color-bg-raucous-orange: #c05131;
$color-bg-overcast-brick: #b5593c;
$color-bg-sandy: #FFB673;
$color-bg-ratskin-flesh: #f8b275;
$color-bg-interface-tan: #c0a392;
$color-bg-rose: #F6D3C4;
$color-bg-light: #F1F0F1;
$color-bg-body: #ffffff;


/*------------------------
    BREAKPOINTS
-------------------------*/
$breakpoints: (xs: 375px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px, max: 1920px);