@import '__settings/init';

.hero {
	display: flex;
	align-items: flex-end;

	min-height: rem(525);
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	padding: 50px 0;

	border-width: 0;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-image: linear-gradient(90deg, $color-bg-ratskin-flesh 0%, $color-bg-overcast-brick 50%, $color-bg-dark 100%)1;
	background: $color-bg-dark;
	overflow: hidden;

	.admin-bar & {
		@include media('>=782px') {
			height: calc(100vh - 32px);
			height: calc((var(--vh, 1vh) * 100) - 32px);
		}
	}

	@include media('>=md') {
		padding: 147px 0;
	}

	&__subtitle {
		margin-bottom: rem(15);

		color: $color-2;
		text-transform: uppercase;

		@include font(20, 24, .6);
	}

	&__title {
		max-width: rem(570);

		margin: 0 0 rem(30) 0;

		font-weight: 400;
		color: $color-2;
		text-transform: uppercase;

		@include font(48, 58, .16);
		@include media('>=lg') {
			@include font(64, 77);
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;

		> img,
		> picture,
		&__overlay > img,
		&__overlay > picture {
			will-change: transform;
			display: block;

			width: 100%;
			height: 100%;

			position: relative;

			object-fit: cover;
		}
		> picture > img,
		&__overlay > picture > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.dom-content-loaded & {
			transform: translate(0);

			opacity: 1;
			visibility: visible;
		}

		&--mobile {
			@include media('>=md') {
				display: none;
			}

			+ .hero__bg--desktop {
				display: none;

				@include media('>=md') {
					display: block;
				}
			}
		}

		&__overlay {
			clip-path: circle(59% at 50% -30%);
			transition: clip-path 0.02s linear;
			position: absolute;
			top: rem(-50);
			bottom: rem(50);
			right: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			pointer-events: none;
		}
	}
}