@import '__settings/init';

.wpcf7-form {

	p {
		display: block;
		margin-bottom: rem(20);

		&:last-child {
			margin-bottom: 0;
			margin-top: rem(40);
		}
	}
	label {
		display: block;
		@include font(16, 23);
		font-weight: 600;

		> .wpcf7-form-control-wrap {
			display: block;
			margin-top: rem(7);
		}
	}
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='tel'],
	textarea {
		display: block;

		width: 100%;
		height: rem(57);
		@include font(16, 24);
		color: $text-color-base;
		padding: rem(16);
		background: $color-bg-light;
		border: rem(1) solid rgba(205, 149, 132, .3);
		transition: border-color $transition;

		&::placeholder {
			color: $text-color-base;

			opacity: .4;
		}

		&:focus {
			border-color: rgba(205, 149, 132, 1);

			outline: 0;
		}
		&.wpcf7-not-valid {
			border-color: red;

			+ .error-message {
				display: block;
			}
		}
		&.error {
			border-color: red;
		}
	}
	textarea {
		resize: none;
		height: rem(168);

		&.small {
			height: rem(77);
		}
	}

	.wpcf7-not-valid-tip {
		display: block;
		margin-top: rem(7);

		color: #FF0000;

		@include font(14,18);
	}

	input[type='submit'] {
		@include font(14,17);
		color: $color-white;
		text-transform: uppercase;
		font-weight: 900;
		background-image: linear-gradient(265.43deg, $color-bg-dark 0%, $color-bg-dark 23.15%, $color-bg-brown 36.715%, $color-bg-sandy 50%, $color-bg-brown 73.15%, $color-bg-dark 86.715%, $color-bg-dark 100%);

		background-size: 200% 100%;
		padding: rem(20) rem(16);
		border-radius: 0;
		background-position: 100% 0%;
		transition: background-position $transition, color $transition;
		border: 0;
		min-width: rem(100);

		&:hover {
			background-position: 0% 0%;
		}
		&:disabled {
			opacity: .5;

			filter: grayscale(100%);
		}
	}
	.wpcf7-response-output {
		border-width: rem(1) !important;
		margin: 0 0 rem(20) !important;
		padding: rem(16) !important;
		@include font(16, 24);
	}
	.wpcf7-spinner {
		display: none;

		width: rem(57);
		height: rem(57);

		margin: 0 0 0 rem(20);

		background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve' width='57' height='57'%3E%3Crect x='20' y='50' width='4' height='10' fill='%232F140D'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='translate' values='0 0; 0 20; 0 0' begin='0' dur='0.6s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/rect%3E%3Crect x='30' y='50' width='4' height='10' fill='%232F140D'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='translate' values='0 0; 0 20; 0 0' begin='0.2s' dur='0.6s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/rect%3E%3Crect x='40' y='50' width='4' height='10' fill='%232F140D'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='translate' values='0 0; 0 20; 0 0' begin='0.4s' dur='0.6s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/rect%3E%3C/svg%3E");
		opacity: 1;
		vertical-align: bottom;
		position: relative;
		top: rem(-10);

		&:before {
			content: none;
		}
	}
	&.submitting {
		p {
			pointer-events: none;
		}
		.wpcf7-spinner {
			display: inline-block;
		}
	}
}