@import '__settings/init';

/* Text Elements */
p {
	margin: 0 0 rem(27);

	&:last-child {
		margin: 0;
	}

	&.is-style-uppercase {
		text-transform: uppercase;
	}

	&.is-style-preheading {
		color: $secondary;
		text-transform: uppercase;
	}

	&.is-style-leadparagraph {
		@include font(16, 26);
		font-weight: 700;
		@include media('>=md') {
			@include font(18, 28);
		}
	}
}
