footer {
    padding: rem(100) 0;
    background: radial-gradient(56.14% 145.91% at 0% 100%, $color-bg-overbaked 0%, $color-bg-extradark 100%);
    border-top-width: rem(3);
    border-top-style: solid;
    border-image: linear-gradient(90deg, $color-bg-ratskin-flesh 0%, $color-bg-overcast-brick 50%, $color-bg-dark 100%)1;
    overflow: hidden;

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;

    }

    .menu-item {
        margin-bottom: rem(30);
        padding: 0;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            @include font(14, 17);
            font-weight: 900;
            text-transform: uppercase;
            color: $color-1;
        }
    }

}

.footer__nav {
    display: block;
    width: auto;
    max-width: rem(200);

    &:first-child {
        margin-bottom: rem(30);
    }

    @include media('>=md') {
        display: inline-block;

        &:first-child {
            margin-right: rem(105);
            margin-bottom: 0;
        }
    }
}

.footer__logo {
    width: auto;
    max-width: 163px;
    margin-bottom: rem(50);

    @include media('>=lg') {
        max-width: 215px;
        margin-bottom: 0;
        text-align: right;
        margin-left: auto;
    }
}

.footer__social-list {
    flex-direction: row;
    margin: rem(50) 0;
}

.footer__social-item {
    margin-right: rem(20);

    a{
        transition: all ease 0.2s;
        &:hover{
            opacity: 0.7;
        }
    }
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media('>=lg') {
        flex-direction: row;
        align-items: center;
    }
}

.footer__copyrights {
    order: 2;

    @include media('>=lg') {
        order: 1;
    }
}

.footer__privacy {
    order: 1;

    @include media('>=lg') {
        order: 2;
    }
}



.footer__copyrights {
    display: inline-block;

    @include font(14, 17);
    font-weight: 400;
    text-transform: uppercase;
    color: $color-1;
    opacity: 0.3;
}

.footer__link {
    display: inline-block;
    margin: 0 rem(30 )rem(54) 0;
    @include link();
    @include font(14, 17);
    font-weight: 400;
    text-transform: uppercase;
    color: $color-1;
    opacity: 0.3;

    &:hover {
        color: $color-1;
    }

    @include media('>=md') {
        margin: 0 0 0 rem(54);
    }
}