@import '__settings/init';

.posts-grid {
	$block: &;

	padding: rem(75) 0;
	overflow: hidden;


	@include media('>=lg') {
		padding: rem(100) 0;
	}

	&:first-child {
		padding-top: rem(180);

		@include media('>=lg') {
			padding-top: rem(383);
		}
	}

	&--gradient {
		background: linear-gradient(223.08deg, $color-bg-rose 0%, $color-bg-light 75.84%);
	}

	&--bg {
		background: $color-bg-light;

		#{$block} {
			&__title {

				@include media('>=lg') {
					@include font(42, 50.4);
				}

				.color {
					background-image: linear-gradient(270deg, $color-bg-overcast-brick 0%, $color-bg-ratskin-flesh 100%);
				}
			}
		}
	}

	&__header {
		max-width: rem(570);
	}

	&__title {
		@include font(38, 45.6);
		font-weight: 600;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: rem(20);
		color: $color-bg-ratskin-flesh;

		&:last-child {
			margin-bottom: 0
		}

		@include media('>=lg') {
			@include font(54, 64.8);
		}

		.color {
			background-image: linear-gradient(270deg, $color-bg-ratskin-flesh 0%, $color-bg-overcast-brick 51.04%, $color-bg-dark 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}
	}

	&__description {
		@include font(16, 23.2);
		color: $text-color-brown;
		padding-right: rem(5);

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__form {
		margin-top: rem(30);

		.filter {
			border-bottom: rem(1) solid rgba($color-bg-overcast-brick, .1);

			&__title {
				cursor: pointer;
				color: $text-color-base;
				@include font(16, 19);
				transition: color $transition;
				display: flex;
				align-items: center;
				font-weight: 700;
				padding: rem(20) 0;

				&:hover {
					color: $color-bg-overcast-brick;
				}

				svg {
					transform: rotate(180deg);
					transition: transform $transition;
					margin-left: rem(20);
					position: relative;
					top: rem(2);
				}
			}

			&__item {
				margin-right: rem(20);
				margin-bottom: rem(20);
				@include font(16, 19);
				font-weight: 700;
				cursor: pointer;

				span {
					position: relative;
					display: block;
					z-index: 1;
					padding: rem(10) rem(15);
					color: $text-color-brown;
					transition: color $transition, background-position $transition;
					background: linear-gradient(259.36deg, $color-bg-brown, $color-bg-sandy, transparent, transparent);
					background-size: 300% 100%;
					border-radius: rem(30);
					background-position-x: 0%;

					&:before {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						content: '';
						border-radius: rem(30);
						padding: rem(2);
						background: linear-gradient(259.36deg, $color-bg-brown, $color-bg-sandy);
						-webkit-mask:
							linear-gradient($color-white 0 0) content-box,
							linear-gradient($color-white 0 0);
						-webkit-mask-composite: xor;
						mask-composite: exclude;
					}
				}

				input[type="checkbox"] {
					position: absolute;
					opacity: 0;

					&:checked {
						+span {
							color: $color-white;
							background-position-x: 100%;
						}
					}
				}

				&:hover {
					span {
						color: $text-color-base;
					}
				}

				&__list {
					flex-wrap: wrap;
					display: none;

					.filter--active & {
						display: block;
					}
				}
			}

			&--active {
				.filter {
					&__title {
						svg {
							transform: rotate(0deg);
						}
					}

					&__item {
						&__list {
							display: flex;
						}
					}
				}
			}
		}
	}

	&__results {
		@include font(16, 23);
		margin-top: rem(20);
	}

	&__button {
		margin-top: rem(50);
	}

	&__form,
	&__posts,
	&__results {
		.loading & {
			pointer-events: none;
			opacity: .75;
			transition: opacity $transition;
		}
	}

	&__row {
		margin-left: rem(-32);
		margin-right: rem(-32);

		.posts-grid--doctor & {
			margin-left: rem(-40);
			margin-right: rem(-40);
		}
	}

	&__pagination {
		margin-top: rem(45);
		margin-bottom: rem(-5);

		&:empty {
			margin-top: 0;
		}

		.nav-links {
			display: flex;
			justify-content: center;

			span,
			a {
				@include font(14, 20);
				padding: rem(7) rem(9);
				min-width: rem(36);
				text-align: center;
				margin: rem(5);
				border: rem(1) solid $text-color-brown;
				transition: color $transition, border-color $transition;

				&.current {
					border-color: $text-color-base;
					color: $text-color-base;
				}

				&.dots {
					border-color: transparent;
					padding-left: 0;
					padding-right: 0;
					min-width: auto;
				}
			}

			a:hover {
				color: $text-color-base;
			}
		}
	}
}

.post-grid {
	margin-top: rem(50);
	padding-left: rem(32);
	padding-right: rem(32);

	@include media('>=md', '<lg') {
		&:nth-child(2n+2) {
			transition-delay: .1s;
		}
	}

	@include media('>=lg') {
		&:nth-child(3n+2) {
			transition-delay: .1s;
		}

		&:nth-child(3n+3) {
			transition-delay: .2s;
		}
	}

	.posts-grid--doctor & {
		padding-left: rem(40);
		padding-right: rem(40);
	}

	&__thumb {
		margin-bottom: rem(20);

		&__url {
			display: block;
			overflow: hidden;

			img {
				width: 100%;
				display: block;
				transition: transform $transition;
			}

			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}

	&__categories {
		color: $text-color-base;
		@include font(11, 13.2);
		margin-bottom: rem(20);
		text-transform: uppercase;

		a {
			@include link();
			color: $text-color-brown;
			text-decoration: none !important;
		}
	}

	&__heading {
		margin-bottom: rem(20);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		margin: 0;
		@include font((null: 20,
				md: 24,
				lg: 30), 36);
		font-weight: 600;
		color: $text-color-brown;

		.posts-grid--bg & {
			color: $text-color-base;
		}

		&__url {
			text-decoration: none;
			@include link();
			font-weight: inherit;
			color: currentColor;

			&:hover {
				color: currentColor;
			}
		}
	}

	&__excerpt {
		@include font(16, 23.2);

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__info {
		@include font(16, 23.2);

		.phone,
		.email {
			a {
				@include font(16, 23.2);
				color: #2F140D;
			}
		}

		p {
			margin-bottom: rem(10);
		}
	}

	.wp-block-button{
		margin-top: rem(20);
	}


	&__more {
		@include font(14, 32);
		text-transform: uppercase;
		color: $text-color-brown;
		font-weight: 600;
		position: relative;
		padding-left: rem(12);
		display: inline-block;
		transition: color $transition;
		margin-top: rem(20);

		&:hover {
			color: $text-color-base;
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			content: '';
			background-color: currentColor;
			width: rem(2);
		}
	}
}