@import '__settings/init';

.text {
	padding: rem(75) 0;

	background: linear-gradient(261.4deg, $color-bg-dark 43.43%, $color-bg-brown 82.65%, $color-bg-sandy 118%);

	@include media('>=md') {
		padding: rem(100) 0;
	}

	&__title {
		margin-bottom: rem(50);
		color: $color-bg-light;

		font-weight: 700;
		text-transform: uppercase;

		@include font(28, 34, .16);

		.color {
			background-image: linear-gradient(90deg, $color-bg-light 0%, $color-1 100%);
			background-clip: text;

			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		@include media('>=md') {
			@include font(42, 50);
		}
	}

	&__content {
		font-weight: 400;
		@include font(16, 23);
		color: $color-2;

		&.style_1 {
			max-width: rem(820);
		}

		&-container {
			margin-bottom: rem(50);
		}
	}

	&__link {
		display: inline-block;

		padding-right: rem(5);
		padding-left: 10px;

		font-weight: 600;
		color: $color-1;
		text-transform: uppercase;

		border-left: 2px solid transparent;

		transition: padding $transition, border-color $transition $animations-speed/1.5;

		@include font(14, 32, .8);

		&:hover,
		&:focus {
			padding-right: 0;
			padding-left: rem(15);

			color: $color-1;
		}

		&.is-in-viewport {
			border-color: $color-1;
		}
	}
}