@import '__settings/init';

.wp-block-button {
	&__link {
		@include font(14, 17);
		color: $color-white;
		text-transform: uppercase;
		font-weight: 900;
		background-image: linear-gradient(265.43deg, $color-bg-dark 0%, $color-bg-dark 23.15%, $color-bg-brown 36.715%, $color-bg-sandy 50%, $color-bg-brown 73.15%, $color-bg-dark 86.715%, $color-bg-dark 100%);

		background-size: 200% 100%;
		padding: rem(20) rem(16);
		border-radius: 0;
		background-position: 100% 0%;
		transition: background-position $transition, color $transition;

		&:hover {
			background-position: 0% 0%;
		}
	}

	&.is-style-light {
		.wp-block-button__link {
			background-image: linear-gradient(267.83deg, $color-bg-rose 0%, $color-bg-rose 13.52%, $color-bg-light 50%, $color-bg-rose 63.52%, $color-bg-rose 100%);
			color: $color-bg-dark;
		}
	}

	&.is-style-outline {
		.wp-block-button__link {
			background: transparent;
			color: $color-bg-dark;
			position: relative;
			border: 0;

			&:before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: '';
				padding: rem(2);
				background: linear-gradient(259.36deg, $color-bg-sandy, $color-bg-brown, $color-bg-sandy);
				background-size: 200% 100%;
				transition: background-position $transition;
				-webkit-mask:
					linear-gradient($color-white 0 0) content-box,
					linear-gradient($color-white 0 0);
				-webkit-mask-composite: xor;
				mask-composite: exclude;
			}

			&:hover {
				&:before {
					background-position-x: 100%;
				}
			}
		}
	}

	&.is-style-simple {
		.wp-block-button__link {
			display: inline-block;

			padding-right: rem(5);
			padding-left: 10px;

			background: none;

			font-weight: 600;
			color: $color-1;
			text-transform: uppercase;

			border-left: 2px solid transparent;

			transition: padding $transition, border-color $transition $animations-speed/1.5;

			@include font(14, 32, .8);

			&:hover,
			&:focus {
				padding-right: 0;
				padding-left: rem(15);

				color: $color-1;
			}
		}
	}
}