@import '__settings/init';
.swiper-pagination-fraction {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 44px;
	padding: 0 50px;

	top: 0;
	bottom: auto;
}
.swiper-container {
	padding-top: 50px;
}
.swiper-button-prev,
.swiper-button-next {
	top: 0;
	bottom: auto;
	margin-top: 0;
}