@import '__settings/init';

.rich-text {
    padding: rem(75) 0;
    background: linear-gradient(223.08deg, $color-bg-rose 0%, $color-bg-light 75.84%);

    @include media('>=lg') {
        padding: rem(100) 0;
    }

    &__title{
        @include font(20, 34, 0.16);
        text-transform: uppercase;
        background: linear-gradient(270deg, $color-bg-ratskin-flesh 0%, $color-bg-overcast-brick 51.04%, $color-bg-dark 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        @include media('>=lg') {
            @include font(42, 50);
        }
    }

    &__container {
        max-width: rem(960);

        h1 {
            @include font(48, 58, 0.16);
            font-weight: 400;
            text-transform: uppercase;

            @include media('>=lg') {
                @include font(64, 77);
            }
        }

        h2 {
            @include font(38, 46);
            font-weight: 600;

            @include media('>=lg') {
                @include font(48, 58);
            }
        }

        p {
            @include font(16, 23);
            font-weight: 400;
        }

        img {
            max-width: 100%;
        }
    }
}