@import '__settings/init';
.wp-block-quote {
	border-color: $secondary;
	cite {
		color: $text-color-base;
	}
	&.is-style-default {
		font-size: rem(18);
		line-height: rel(26,18);
	}
	&.is-style-large {
		p {
			margin-bottom: 10px;
		}
		cite {
			color: $secondary;
		}
	}
}
