*,
*::before,
*::after {
	box-sizing: border-box;
}

*:focus{
    outline: 0;
}

:root {
	--vh: 1vh;
}

body.using-mouse :focus {
    outline: none !important;
}

html {
	font-size: 62.5%; /* Sets base to 10px */
	line-height: 1.15;

	-webkit-text-size-adjust: 100%;
}

html,
button,
a,
input,
select,
textarea {
	font-family: $font-base;
}

input,
select,
textarea {
	max-width:100%;
}

body {
	margin: 0;

	font-weight: 400;
	color: $text-color-base;

	background: $color-bg-body;

	min-height: 100vh;

	@include font($font-size-mobile, $line-height-mobile);
	@include media('>=md') {
		@include font($font-size-base, $line-height-base);
	}
}

figure {
	margin: 0;
}

img,
svg {
	height: auto;
	max-width: 100%;

	vertical-align: middle;
}

nav {
	ul {
		padding: 0;

		margin: 0;

		list-style: none;
	}
	li {
		display: inline-block;
	}
}

.screen-reader-text {
	width: 1px;
	height: 1px;
	padding: 0;

	position: absolute;
	margin: -1px;

	word-wrap: normal !important;

	border: 0;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);

	clip-path: inset(50%);
}

a.skip-link {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-link:focus, a.skip-link:active {
    color: $color-white;
    background-color:$color-black;
    left: 20px;
    top: 20px;
    width: 150px;
    height: auto;
    overflow:auto;
    margin: 0;
    padding:5px;
    border-radius: 8px;
    border:2px solid yellow;
    text-align:center;
    font-size:rem(16);
    z-index:999;
}


/* Animations */
.has-line-animation {
	> span {
		display: inline-flex;
		position: relative;
		overflow: hidden;

		> span {
			display: inline-block;
			transform: translateY(110%);
			white-space: break-spaces;
			will-change: transform;
		}
	}
	&.is-in-viewport {
		> span {
			> span {
				transform: translateY(-2px);

				transition: transform $animations-speed ease;
			}
		}
	}
}
[class*="block-show"] {
	opacity: 0;
	visibility: hidden;
	transition: transform $animations-speed ease, opacity $animations-speed ease, clip-path .5s ease;

	@for $i from 1 through 9 {
		&.delay--#{$i}0 {
			transition-delay: #{$i/10}s;
		}
	}
	&.is-in-viewport {
		opacity: 1;
		visibility: visible;
		transform: translate(0);
	}
}

.block-show {
	&--up {
		transform: translateY(rem(75));
		will-change: transform, opacity;
	}
	&--right {
		transform: translateX(rem(-75));
		will-change: transform, opacity;
	}
	&--down {
		transform: translateY(rem(-75));
		will-change: transform, opacity;
	}
	&--left {
		transform: translateX(rem(75));
		will-change: transform, opacity;
	}
	&--scale {
		transform: scale(1.1);
	}
	&--clip {
		opacity: 1;
		visibility: visible;
		transform: translate(0);
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

		.is-in-viewport & {
			-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
			clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		}
	}
}

.parallax {
	&__wrap {
		position: relative;
		overflow: hidden;
	}
	&__bg {
		position: absolute;
		top: rem(-50);
		bottom: rem(-50);
		right: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;

		@include media('>=md') {
			top: 0;
			bottom: 0;
		}

		.dom-content-loaded & {
			transform: translate(0);

			opacity: 1;
			visibility: visible;
		}

		> img,
		> picture {
			will-change: transform;
			display: block;

			min-width: 100%;
			min-height: 100%;

			position: relative;

			object-fit: cover;
		}
		> picture > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.rellax {
	will-change: transform;
}

.decoration {
	pointer-events: none;

	.svg-path-line {
		stroke-dashoffset: 0;
	}
}