.block-spacing {
	&--pt {
		padding-top: rem($spacing-mobile);

		@include media('>=md') {
			padding-top: rem($spacing);
		}
	}
	&--pb {
		padding-bottom: rem($spacing-mobile);

		@include media('>=md') {
			padding-bottom: rem($spacing);
		}
	}
	&--mt {
		margin-top: rem($margin-mobile);

		@include media('>=md') {
			margin-top: rem($margin);
		}
	}
	&--mb {
		margin-bottom: rem($margin-mobile);

		@include media('>=md') {
			margin-bottom: rem($margin);
		}
	}
}