a,
button,
input,
select,
textarea {
	&:focus {
		outline: none;

		html.user-tab-nav & {
			outline: $outline;
			outline-offset: 0;
		}
	}
}

a {
	font-weight: 400;
	color: $link-color;
	text-decoration: none;

	.page-content &:not([class]),
	.rich-text & {
		text-decoration: underline;
	}


	img {
		border: 0;
	}
	&:focus,
	&:hover {
		color: $link-hover-color;
	}
}

p {
	// DO NOT INSERT FONT-SIZE/LINE-HEIGHT HERE - DO IT ON BODY
	margin: 0 0 rem(24);
}

hr {
	margin: rem(40) 0;

	border-top: 1px solid $text-color-base;
}

::selection {
	color: $text-light;

	background: $secondary;
}
::-moz-selection {
	color: $text-light;

	background: $secondary;
}